# Binaries
bin/
bin-int/
**/bin/
**/bin-int/
!vendor/*

# Mortify files
*.log

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Codelite
Debug
Release
Release_gcc_unicode
DebugUnicode
*.project
*.session
*.tags
*.d
*.o
*.pyc
bin
bin/ofMaker
lib
*.mk
*.workspace.session
*.workspace
compile_flags.txt
Makefile
.codelite/
.build-debug/

Mortify.txt
Glad.txt
Sandbox.txt
